{% extends 'bases/base.html' %}

{% load static %}

{% block content %}

<style>
    .table-container {
  margin-top: 10rem; 
}
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-container">
                <h2>Liste des annonces</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Article Id</th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date de creation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody> {% for article in articles %} <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.author }}</td>
                        <td>{{ article.date_created }}</td>
                        <td>
                            {% if not article.is_approved %}
                              <a class="btn btn-primary" href="{% url 'approve_article' article.pk %}">Approuver</a>
                            {% endif %}
                            <a class="btn btn-danger" href="{% url 'delete_article' article.pk %}">Supprimer</a>
                          </td>
                    </tr> {% empty %} <tr>
                        <td colspan="5">Aucune annonce trouvé.</td>
                    </tr> {% endfor %} </tbody>
            </table>
        </div>
        </div>
    </div>
</div> {% endblock %}