{% extends 'bases/base.html' %}


{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
<input id="id_image" type="file" name="image" hidden />
<label for="id_image">
  <img class="img-fluid account-img profile-image" style="cursor: pointer" src="{% if form.instance.image %}{{ form.instance.image.url }}{% else %}{% static 'img/login.jpg' %}{% endif %}" title="Upload new image">
</label>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Change your information</h3>
                        <form class="row login_form" method="POST" id="">
                            {% csrf_token %}
                            <div class="col-md-12 form-group">
                              <input type="text" class="form-control" id="first_name" name="first_name" value="{{ form.instance.first_name }}">
                            </div>
                            <div class="col-md-12 form-group">
                              <input type="text" class="form-control" id="last_name" name="last_name" value="{{ form.instance.last_name }}">
                            </div>
                            <div class="col-md-12 form-group">
                              <input type="email" class="form-control" id="email" name="email" value="{{ form.instance.email }}" >
                            </div>
                            <div class="col-md-12 form-group">
                                <a href="{% url 'password_change' %}">Change your password ?</a>
                                <div>
                                    <a href=""></a>
                                </div>
                              <button type="submit" class="primary-btn" id="" name="" >Update</button>
                            </div>
                          </form>                          
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->


	<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery.sticky.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>

{% endblock content %}
